<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wine & Food Pairing Assistant</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A fun app to easily pair the best wine with your food">
    <meta name="keywords" content="wine food pairing">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍷</text></svg>">
    
    <!-- import the webpage's javascript file -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/vuex"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164414629-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-164414629-2');
    </script>
  </head>  
  <body>
    <div class="container min-vh-100 d-flex justify-content-center">
    <div class="row align-self-center text-center" id="vapp" v-cloak>
      <transition name="fade" mode="out-in" appear>
      <div v-if="step == 1" key="1">
        <h1>Hi! What are you eating? 😋</h1>
        <h3>I will find the right food and wine pairing for you 🍷</h3>
        <button type="button" class="btn btn-light btn-lg" v-for="item in ingredients.main" @click="select(item.id)">{{ item.label }}</button>
      </div>
      <div v-if="step == 2" key="2">
        <h1 v-if="selections[0] != null">What are you having it with? 🤔</h1>
        <h1 v-else>What then? 🤔</h1>
        <button type="button" class="btn btn-light btn-lg" v-for="item in ingredients.secondary" @click="select(item.id)">{{ item.label }}</button>
        <button type="button" class="btn btn-light btn-lg" @click="back()">← Go back</button>
      </div>
      <div v-if="step == 3" key="3">
        <h1>How is it prepared? 👨‍🍳</h1>
        <button type="button" class="btn btn-light btn-lg" v-for="item in ingredients.prep" @click="select(item.id)">{{ item.label }}</button>
        <button type="button" class="btn btn-light btn-lg" @click="back()">← Go back</button>
      </div>
      <div v-if="step == 4" key="4">
        <h1>Any spices? 🌶</h1>
        <button type="button" class="btn btn-light btn-lg" v-for="item in ingredients.spice" @click="select(item.id)">{{ item.label }}</button>
        <button type="button" class="btn btn-light btn-lg" @click="back()">← Go back</button>
      </div>
      <div v-if="step == 5" key="5">
        <div v-if="selections.length">
          <h1>Try these wines 🍷</h1>
          
          <div class="text-left mt-5 results-wine-type" v-for="result in results">
            <div class="mt-2">
              <span class="h3">{{ result.name }}</span>
              <span class="ml-1">like {{ result.examples.join(', ') }}</span>
            </div>
            <div class="progress-wrapper d-flex mt-2">
              <div :class="`progress progress-${result.id} align-self-center`">
                <div class="progress-bar" role="progressbar" :style="'width: ' + result.match + '%'" :aria-valuenow="result.match" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress-percentage align-top ml-2">
                {{ result.match }}%
              </div>
            </div>
            <div class="mt-2 font-weight-light" v-if="result.perfectMatches.length">
              Perfect with {{ result.perfectMatches.join(' and ') }}
            </div>
          </div>
          
        </div>
        <div v-else>
          <h1>So you're not eating anything... 🤦‍♂️</h1>
        </div>
        <button type="button" class="btn btn-dark btn-lg mt-5" @click="selections = []; step = 1;">Start Over</button>
      </div>
      </transition>
    </div>
    </div>
    
    <script type="module">
      import data from '/data.js';
      import {rankWineTypes} from '/logic.js';
      const vueApp = new Vue({
        el: '#vapp',
        data: { 
         ingredients: {
           main: data.ingredients.filter(ingredient => ingredient.type == "main"),
           secondary: data.ingredients.filter(ingredient => ingredient.type == "secondary"),
           prep: data.ingredients.filter(ingredient => ingredient.type == "prep"),
           spice: data.ingredients.filter(ingredient => ingredient.type == "spice"),
         },
         step: 1,
         selections: [],
         results: [],
  	     isDisabled: false
        },
        methods: {
          select(itemId) {
            if (this.isDisabled) return; // Button is disabled, halt block execution
            this.isDisabled = true;
            this.selections[this.step-1] = itemId;
            this.step++;
            setTimeout(() => {
              this.isDisabled = false;
            }, 250);
          },
          back() {
            //this.step--;
            window.history.back();
          },
          setStepByHash() {
            let step = location.hash.substr(1);
            if(!step) step = 1;
            if(step >= 1 && step <= 5) this.step = step;
          }
        },
        watch: {
          step: function() {
            //console.log(this.selections);
            if(this.step == 5) {
              this.selections = this.selections.filter(x => x); // remove null values
              this.results = rankWineTypes(this.selections);
            } else {
              // clear the selection on this step in case user went back
              this.selections[this.step-1] = null;
            }
            location.hash = "#"+this.step;
          }
        },
        mounted () {
          window.addEventListener("hashchange", this.setStepByHash, false);
          // reset any step in hash upon load
          location.hash = "";
        }
      })
    </script>
    
  </body>
</html>