body {
  font-family: helvetica;
}

html,body {
  height: 100%;
}

.container {
  padding: 2rem !important;
}

.btn {
  margin: 5px;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.25s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all .25s ease;
}

.slide-fade-leave-active {
  transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

[v-cloak] {
  display: none;
}

.progress-bold-red .progress-bar {
  background-color: #830026;
}

.progress-bold-red {
  background-color: #F3E6EA;
}

.progress-medium-red .progress-bar {
  background-color: #C20038;
}

.progress-medium-red {
  background-color: #F9E6EC;
}

.progress-light-red .progress-bar {
  background-color: #fa0048;
}

.progress-light-red {
  background-color: #ffe6ed;
}

.progress-rose .progress-bar {
  background-color: #ff747c;
}

.progress-rose {
  background-color: #fff2f2;
}

.progress-light-white .progress-bar {
  background-color: #ffcd1d;
}

.progress-light-white {
  background-color: #fffae9;
}

.progress-rich-white .progress-bar {
  background-color: #fe8311;
}

.progress-rich-white {
  background-color: #fff3e8;
}

.progress-sweet-white .progress-bar {
  background-color: #ffa800;
}

.progress-sweet-white {
  background-color: #fffae9;
}

.progress-sparkling .progress-bar {
  background-color: #ffe91f;
}

.progress-sparkling {
  background-color: #fffde9;
}

.progress-dessert .progress-bar {
  background-color: #bc4400;
}

.progress-dessert {
  background-color: #fffde9;
}

.progress-bar, .progress {
  border-radius: 0.5rem;
}

.progress-wrapper {
  display: flex;
}

.progress-wrapper .progress {
  width: 100%;
}

.progress-percentage {
  flex: 1;
  font-size: 1.25rem;
}

.results-wine-type {
  min-width: 50vw;
}

#vapp {
  padding-bottom: 2.5rem;
}